---
http_interactions:
- request:
    method: post
    uri: https://sandbox.wompi.co/v1/transactions
    body:
      encoding: UTF-8
      string: '{"acceptance_token":"eyJhbGciOiJIUzI1NiJ9.eyJjb250cmFjdF9pZCI6MSwicGVybWFsaW5rIjoiaHR0cHM6Ly93b21waS5jby93cC1jb250ZW50L3VwbG9hZHMvMjAxOS8wOS9URVJNSU5PUy1ZLUNPTkRJQ0lPTkVTLURFLVVTTy1VU1VBUklPUy1XT01QSS5wZGYiLCJmaWxlX2hhc2giOiIzZGNkMGM5OGU3NGFhYjk3OTdjZmY3ODExNzMxZjc3YiIsImppdCI6IjE1OTI0NTg2MjMtNjU2MjEiLCJleHAiOjE1OTI0NjIyMjN9.3fSx1EWJeC0NgcN72ypCUwSFkAJfnevmenxKydfJ4SQ","amount_in_cents":1000000,"currency":"COP","customer_email":"afton_adams@mcdermott-mckenzie.name","reference":"210865637222","payment_source_id":"1142","payment_method":{"type":"CARD","installments":24,"token":"5A36oFzNkEd"}}'
    headers:
      Authorization:
      - Bearer prv_test_ylWYep6viAs0DUAYxmdKaO1lSbL0Y6yv
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - eddd6768-51de-4790-b0c9-85126ac0acb9
      X-Amzn-Remapped-Content-Length:
      - '575'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - OTzGxEZDoAMFeWg=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Thu, 18 Jun 2020 05:43:20 GMT
    body:
      encoding: UTF-8
      string: '{"data":{"id":"13873-1592459000-87545","created_at":"2020-06-18T05:43:20.604Z","amount_in_cents":1000000,"reference":"210865637222","customer_email":"afton_adams@mcdermott-mckenzie.name","currency":"COP","payment_method_type":"CARD","payment_method":{"type":"CARD","extra":{"bin":"424242","name":"VISA-4242","brand":"VISA","exp_year":"29","exp_month":"12","last_four":"4242"},"installments":24},"status":"PENDING","status_message":null,"shipping_address":null,"redirect_url":null,"payment_source_id":1142,"payment_link_id":null,"customer_data":null,"bill_id":null},"meta":{}}'
  recorded_at: Thu, 18 Jun 2020 05:43:20 GMT
recorded_with: VCR 6.0.0
